In [1]:
%matplotlib inline
import pandas as pd
import seaborn as sbn
sbn.set()

In [2]:
from IPython.core.display import HTML
css = open('style-table.css').read() + open('style-notebook.css').read()
HTML('<style>{}</style>'.format(css))

In [6]:
import datetime

se = pd.DataFrame.from_csv('StormEvents_locations-ftp_v1.0_d2015_c20150917.csv', index_col=None)
se.head(10)

,YEARMONTH,EPISODE_ID,EVENT_ID,LOCATION_INDEX,RANGE,AZIMUTH,LOCATION,LATITUDE,LONGITUDE,LAT2,LON2
0,201505,94085,566121,1,0.87,NE,FRAMETOWN,38.6389,-80.8587,3838334,8051522
1,201505,94086,565878,1,0.50,NNE,STEWART,39.3062,-81.8952,3918372,8153712
2,201505,94086,565878,2,1.44,ESE,STEWART,39.2932,-81.8746,3917592,8152476
3,201505,94086,565886,1,0.00,N,MIDDLEPORT,39.0000,-82.0500,3900,823000
4,201505,94086,566116,1,3.37,ENE,COVE,39.0319,-82.6892,391914,8241352
5,201505,94086,566117,1,0.25,ENE,LOTTRIDGE,39.2308,-81.8955,3913848,8153730
6,201505,94086,566118,1,4.06,N,SHADE,39.2781,-82.0417,3916686,822502
7,201505,94094,565903,1,5.23,NNE,DOLAN SPGS,35.6938,-114.1790,3541628,11410740
8,201505,94094,565903,2,5.86,NNE,DOLAN SPGS,35.7023,-114.1746,3542138,11410476
9,201505,94094,565903,3,7.24,NNE,DOLAN SPGS,35.7172,-114.1519,3543032,1149114